 .theory-test-card {
   box-shadow: 0 0 1px #00000069;
   background: #fff;
 }

 .theory-test-card, .theory-test-card * {
   transition: all 0.5s ease-in-out;
 }

 .theory-test-card:hover .num-of-quest{
   color: #fff;
 }
